.Footer {
    max-width: 935px;
    width: 100%;
    margin: 55px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 12px;
    margin: 55px auto;
    text-transform: uppercase;
    flex-wrap: wrap;
    @include breakpoint(mobileonly) {
      justify-content: center;
    }
  }

  .Column {
    margin-bottom: 15px;
    @include breakpoint(mobileonly) {
      margin-bottom: 0;
    }
  }

  .Nav {
  }

  .List {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    @include breakpoint(mobileonly) {
      justify-content: center;
    }
  }

  .List-item {
    margin-left: 15px;
    color: #003569;
    cursor: pointer;
    @media (max-width: 37.5em) {
      margin-bottom: 15px;
    }
  }

  .Copyright {
    color:#999;
  }