.Auth {
    width: 100%;
    max-width: 935px;
    margin: 0 auto;
    display: flex;
    min-height: 100%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
  }

  .Column {
    width: 68%;
  }

  .Column-child {
    width: 70%;
    margin-left: 35px;
  }

  .App-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
    
  }

  .App-box-appstores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    
  }

  .App-box-appstores-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    height: 40px;
  }

  .App-box-appstores-img-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    height: 40px;
    margin-right: 10px;
  }

  .White-box {
    text-align: center;
    padding: 15px;
  }

  .White-box-child {
    text-align: center;
    padding: 15px;
    border: 1px solid #e6e6e6;
    background-color: white;
    border-radius: 5px;
  }

  .White-box-child-formBox {
    text-align: center;
    padding: 15px;
    border: 1px solid #e6e6e6;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .White-box-child-formBox-img {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    height: 60px;
    width: 240px;
    margin-bottom: 10px;
    padding: 15px;
  }

  .White-box-p {
    text-align: center;
    padding: 15px;
    @mixin boxBorder($radius) {
        border: 1px solid #e6e6e6;
        background-color: white;
        @if $radius == yes {
          border-radius: 5px;
        }
      }
    margin: 15px;
  }

  .White-box-change-link {
    text-align: center;
    padding: 15px;
    @include boxBorder(no);
    color: #3897f0;
    cursor: pointer;
  }